.about {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-family: 'Lucida Grande';
    font-size: 24px;
    text-decoration: none;
     color: #F7F9F9;
     padding: 25px 30px;
     margin: 30px;
}