nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: #282c34;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 2%;
}

nav a:hover {
    opacity: 0.7;
}

.spacer {
    height: 80px;
    width: 100vw;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
  } 