nav {
    font-family: Helvetica;
    font-size: 24px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: #000000;
}

/* "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue" */
nav a {
    color: white;
    text-decoration: none;
    margin: 2%;
}

nav a:hover {
    opacity: 0.7;
}

.spacer {
    height: 80px;
    width: 100vw;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
  } 